body{
    background: rgb(82, 38, 38);
    padding: 0;
    margin: 0;

    
}
.wrapper_two{
    font-size: 40px;
    color: white;
    margin: 0 auto;
    width: 370px;
    height: 200px;
    text-align: center;
    border-bottom: solid white 3px;
   

}

#start{
    border-bottom: solid white 3px;
    width: 350px;
    margin: 0 auto;
}

#shownGuess{
    margin-top: -35px;
    
}

#soFar{
    border-bottom: solid white 3px;
}

#guessNumber{
    font-size: 40px;
    color: white;
    margin: 0 auto;
    width: 300px;
    margin-top: 25px;
    text-align: center;
    border-bottom: solid white 3px;
    margin-bottom: 100px;
    
}

#nav{
    width: 100%;
    height: 100px;
    background: rgb(255, 255, 255);
    text-align: center;
    margin-top: -8px;
    line-height: 100px;
    color: rgb(48, 47, 83);
    font-size: 50px;
}

.wrapper {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    font-family: Asap, sans-serif;
    position: relative;

}

#headerText{
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}


#img-wrapper{
    width: 240px;
    height: 244px;  
    margin: 0 auto;
}

.img{
    margin: 0 auto;
    width: 200px;
    border: solid 20px rgb(82, 38, 38);
    background-color: rgb(82, 38, 38);
    transition: background-color 7s, border 3s ease;

}

.img:hover{
    border: solid 4px rgb(255, 251, 0);
    background: gold;
}

.wrapper{
    font-size: 40px;
    color: white;
}

#wins {
 position: absolute;
 left: -70px;
 bottom: -25px;
 background: rgb(48, 47, 83);
 width: 130px;
}

#losses {
    position: absolute;
    right: -80px;
    bottom: -25px;
    background: rgb(48, 47, 83);

}

